<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <add key="SecretId" value="AKID7zbx1ASvQJZgW5int52WllTFm2dzwDU8"/>
  <add key="SecretKey" value="mJZZHAnBI8ON5VmfHcfX8SWJr9AuKTKv"/>
  <add key="SmsSdkAppid" value="1400293811"/>
  <add key="SmsSdkSign" value="峨眉山奇门"/>
  <add key="TemplateID" value="489989"/>   
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>