<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="logPath" value="c:\\log\\yy\\"/>
    <add key="loglv" value="4"/>
    <add key="configpath" value="E:\\2255\\06 网站\\mf.admin\\config\\"/>
    <add key="RedisIp" value="172.17.0.61"/>
    <add key="RedisPort" value="7200"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <authentication mode="Forms">
      <forms loginUrl="/default.aspx" timeout="60" defaultUrl="/report/report.aspx"/>
    </authentication>
    <httpHandlers>
      <add verb="*" path="VerificationCode.aspx" type="MF.WebControls.VerificationCodeHttpHander,MF.WebControls"/>
      <add verb="POST,GET" path="/m/ajax.ashx" type="MF.Admin.BLL.AjaxRequest,MF.Admin.BLL"/>
    </httpHandlers>
    <httpModules>
      <add name="HttpRequest" type="MF.Admin.BLL.HttpHandler,MF.Admin.BLL"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="webcontrols" verb="*" path="VerificationCode.aspx" type="MF.WebControls.VerificationCodeHttpHander,MF.WebControls"/>
      <add name="ajax" verb="POST,GET" path="/m/ajax.ashx" type="MF.Admin.BLL.AjaxRequest,MF.Admin.BLL"/>
    </handlers>
  </system.webServer>
</configuration>